".source.maxscript":
	editor:
		commentStart: "-- "
		increaseIndentPattern: '(?i)^.*(?:\\([^\\)]*|(?<![\\.\\$])\\b(?:(?:macroscript|struct|plugin)(?=[\\s]|$)\\b(?:[^);]*)|then|else|with|do)\\s*|=\\s*)$'
		decreaseIndentPattern: '^\\s*\\)'
